:root{
--LightCyan: hsl(193, 38%, 86%);
--NeonGreen: rgb(82, 255, 168);
--GrayishBlue: hsl(217, 19%, 38%);
--DarkGrayishBlue: hsl(217, 19%, 24%);
--DarkBlue: hsl(218, 23%, 16%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
body{
    background-color: var(--DarkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
}
.advice-wrapper{
    background-color: var(--DarkGrayishBlue);
    height: 340px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 340px;
    padding: 2rem 1.4rem;
}
.advice-id{
    color: var(--NeonGreen);
    letter-spacing: 4px;
    margin-bottom: 2rem;
}
.advice-text{
    color: white;
    font-size: 24px;
    margin-bottom: 1.4rem;
    text-align: center;
    margin-bottom: auto;
}
.container-separator{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 20px;
    margin-bottom: 28px;
}
.line{
    width: auto;
}
.separator-icon{
    background-image: url('./images/pattern-divider-mobile.svg');
    display: block;
    height: 20px;
    width: 88%;
    position: absolute;
    background-repeat: no-repeat;
}
.container-dice{
    height: 60px;
    width: 60px;
    background-color: var(--NeonGreen);
    border-radius: 50%;
    position: absolute;
    bottom: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.icon-dice{
    display: block;
    height: 24px;
    width: 24px;
    background-image: url('./images/icon-dice.svg');
    background-repeat: no-repeat;
}
.container-dice:hover{
    box-shadow: 0px 0px 40px 8px rgba(82,255,168,1);
}